/*header start*/
header{}
.container{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
.logo{
    float: left;
   width: 20%;
}
.logo img{
    width: 100%;
}
.menu{
    float: right;
    width: 70%;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    text-decoration: none;
    padding:  10px 20px;
    display: inline-block;
}
.menu ul li a:last-child{
    padding-right: 0;
}
.menu ul li a:hover{
    color: aqua;
}
/*header end*/